body{
    background-color: aliceblue;
}
h1{
    text-align: center;
    color:black   
}
p{
    text-align: center;
    color:#000000;
    front-size: 20px;
    front-family: Arial, Helvetica, sans-serif;

}
p strong{
    color: chartreuse;

}
#logo{
    width: 200px;

}
#banner-principal{
    width: 100%;
}
.banner{
    width: 250px;
    heigt: 250px;
    border-radius: 40%;
}
